	/*	----Primeros estilos para aprender ------
	p{
	    text-shadow: 1px -1px 8px black;
	    color: #961717;
	    padding-left: 40px;
	    border-top-width: 30px;
	    box-shadow: inset -3px 2px 6px 0px black;
	}
	img{
		width: 1000px;
	}
	#parrafo2{
		font-size: 18px;
	}
	.titulos{
	    font-size: 23px;
	    font-family: inherit;
	}*/
